.place__image {
    object-fit: cover;
    width: 100%;
    height: 35.94vw;
}

@media screen and (max-width:1024px) {
    .place__image {
        height: 42.97vw;
    }
}

@media screen and (max-width:320px) {
    .place__image {
        height: 44.27vw;
    }
}

@media screen and (max-width:320px) {
    .place__image {
        margin: 32px 0;
        width: 100%;
        height: 100%;
    }
}